attrs
coverage
cycler
flake8
flake8-annotations
flake8-docstrings
flake8-import-order
imageio
iniconfig
kiwisolver
matplotlib
mccabe
mypy
numpy
packaging
pandas
Pillow
pluggy
py
pycodestyle
pydocstyle
pyflakes
pyparsing
pytest
pytest-cov
python-dateutil
scipy
six
snowballstemmer
toml
tqdm
torch
torchvision
typing-extensions

